
@media screen and (min-width: 0px){
    :root{
       /*Colores para todo el sitio en general*/
        --body: #f2f2f2;
        --header: #000000;
        --headerBordeBajo: #f2f2f2;

        --pantallaDeCargaBackground: #333;
        --pantallaDeCarga-spinner: #27a240;

        --titulos: 'Source Sans Pro', sans-serif;
        --texto-por-defecto: 'Overpass', sans-serif;

        /*Colores para btn de volver arriba*/
        --btn-volver-arriba: #27a240;
        --btn-volver-arriba-flecha: #fff;
        --btn-volver-arribaHover: #333;

        /*Colores para la seccion inicio de sesion*/
        --sesion-texto: #FFCC1D;
        --sesion-btnCerrar: #fff;
        --sesion-btnCerrarHover: #fff;
        --sesion-btnAdmin: #FFCC1D;
        --sesion-btnAdminHover: #27a240;
        --sesion-editor: #FFCC1D;

        /*Colores para todo el menu responsive en general*/
        --burger-menu:  #F5F5F5;
        --burger-menu__close: #27a240;
        --burger-menu__close__background: #333;
        --burger-menu__close__btns: #fff;
        --burger-menu__close__btnsHover: #FFCC1D;

        /*Colores para el menu de tamaño normal NO RESPONSIVE*/
        --menu-normal-size-background-start: #333;
        --menu-normal-size-background-end: #333;
        --menu-normal-size-btns: #fff;
        --menu-normal-size-btnsHover: #FFCC1D;

        /*EMPIEZA CONTENIDO DE LA PAGINA*/

        --main__titulo: #333;
        --main__btns-texto: #f2f2f2;
        --main__btnsBackground: #333;
        --main__btnsHoverBackground: #aaa;
        --main__btnsHover-texto: #333;
        --main__btnsHoverBorde: #333;

        /*TERMINA CONTENIDO DE LA PAGINA*/

        --redes-sociales__icono-plus: #ffffff;
        --redes-sociales__iconos-redes: #ffffff;
        --redes-sociales__background: #27a240;
        --redes-sociales__backgroundHover: #333;
        --redes-sociales__primero: #2196f3;
        --redes-sociales__segundo: #00e5ff;
        --redes-sociales__tercero: #6a1b9a;

        /*Colores para Footer*/
        --footer-background: #000;
        --footer__texto: #fff;
        --footer__btn-email: #FFCC1D;
        --footer__btn-emailHover: #27a240;
        --creditos-texto: #fff;
        --creditos-btn: #FFCC1D;
        --creditos-btnHover: #27a240;
    }


*{
    margin: 0;
    padding: 0;
    font-family: var(--texto-por-defecto)
}

html {
  scroll-behavior: smooth;
}

body{
    background: var(--body);
    position: relative;
}


.fondoOscuro{
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    visibility: visible;
    background-color: #000a;
    z-index: 20;
}

/*Empieza animacion de carga*/

#contenedor-carga{
   width: 100%;
   height: 100vh;
   position: fixed;
   background: var(--pantallaDeCargaBackground);
   z-index: 999;
   visibility: visible;
   opacity: 1;
   transition: all 600ms ease-in;
}

.spinner {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: radial-gradient(farthest-side,var(--pantallaDeCarga-spinner) 94%,#0000) top/9px 9px no-repeat,
    conic-gradient(#0000 30%,var(--pantallaDeCarga-spinner));
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
    animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
   100% {
      transform: rotate(1turn);
   }
}

/*Termina animacion de carga*/

header{
    position: relative;
    border-bottom: 1px solid var(--headerBordeBajo);
}

#contenedor-sesion{
    margin: auto;
    padding: 5px;
    display: flex;
    justify-content: right;
    width: 100%;
    max-width: 1000px;
}

#contenedor-sesion i{
    padding: 5px;
}

#contenedor-sesion p{
    color: var(--sesion-texto);
}

.btn-cerrar-sesion{
    padding: 5px;
    text-decoration: none;
    color: var(--sesion-btnCerrar);
    transition: all 300ms ease;
}

.btn-cerrar-sesion:hover{
    color: var(--sesion-btnCerrarHover);
    transition: all 300ms ease;
}

#modo-admin{
    padding: 5px;
    text-decoration: none;
    color: var(--sesion-btnAdmin);
    transition: all 300ms ease;
}

#modo-admin:hover{
    color: var(--sesion-btnAdminHover);
    transition: all 300ms ease;
}

#modo-editor{
    padding: 5px;
    color: var(--sesion-editor);
}

#img-header{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    filter: brightness(.4);
    z-index: -1;
}


/*Empieza menu responsive*/

nav{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
}

#logo-normal-size{
    display: none;
}

#logo-responsive,
#logo-normal-size{
    margin: auto;
    padding: 10px 0;
    width: 60%;
    max-width: 130px;
    z-index: 99;
    /*border: 1px solid green;*/
}

#logo-responsive a,
#logo-normal-size a{
    display: flex;
    margin: auto;
    max-width: 500px;
}

#logo-responsive img,
#logo-normal-size img{
    width: 100%;
    margin: auto;
    /*border: 1px solid red;*/
}

#contenedor-burger-menu{
    display: flex;
    justify-content: center;
    width: 30%;
    /*border: 1px solid red;*/
}

#burger-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    z-index: 95;
}

#bar1,
#bar2, 
#bar3{
    margin: 3px 0;
    width: 30px;
    height: 3px;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0; 
    background: var(--burger-menu);
    border-radius: 10px;
    transition: all 300ms ease;
}

#burger-menu.close{
    position: fixed;
    top: 10vh;
    bottom: initial;
    transition: all 300ms ease;
    z-index: 999;
}

#burger-menu.close #bar1,
#burger-menu.close #bar2,
#burger-menu.close #bar3{    
    background: var(--burger-menu__close);
}

#burger-menu.close #bar1{
    transform: rotate(45deg) translate(6px, 6px);
    transition: all 400ms ease;
}

#burger-menu.close #bar2{
    opacity: 0;
    scale: 0;
    transition: all 300ms ease;
}

#burger-menu.close #bar3{
    transform: rotate(-45deg) translate(6px, -6px);
    transition: all 400ms ease;
}

#menu-responsive{
    padding-top: 15vh;
    display: block;
    min-width: 220px;
    width: 60%;
    max-width: 350px; 
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: -10vh;
    opacity: 0;
    text-align: left;
    visibility: hidden;
    transition: all 300ms ease-in; 
    overflow: auto;
    z-index: 950;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#menu-responsive.show{
    opacity: 1;
    visibility: visible;
    background: var(--burger-menu__close__background);
    left: 0vh;
    transition: all 300ms ease-out; 
}

#menu-responsive li{
    margin: auto;
    list-style: none;
    position: relative;
    width: 100%;
    display: inline-block;
}

#menu-responsive li a{
    color: var(--burger-menu__close__btns);
    display: block;
    padding:  5%;
    font-size: 1rem;
    text-decoration: none;
    margin-left: 10px;
    margin-bottom: 30px;
    position: relative;
    transition: all .3s;
    margin-top: auto;
    margin-bottom: auto;
    background: transparent;

}

#menu-responsive a:hover{
    color: var(--burger-menu__close__btnsHover);
}

.fa-solid{
    padding: 10px;
}

/*Termina menu responsive*/


/*Empieza menu Normal Size*/

#menu-normal-size{
    margin: 0;
    padding: 5px 0;
    display: none;
    width: 100%;
    background: linear-gradient(to bottom, var(--menu-normal-size-background-start), var(--menu-normal-size-background-end));
    white-space: nowrap;
}

#menu-normal-size ul{
    display: flex;
    margin: auto;
    padding: 0 10px 0 0;
    max-width: 1000px;
    justify-content: space-between;
}

#menu-normal-size ul li{
    display: inline-block;
}

#menu-normal-size a{
    text-decoration: none;
    color: var(--menu-normal-size-btns);
}

#menu-normal-size a:hover{
    color: var(--menu-normal-size-btnsHover);
}

/*Termina menu Normal Size*/

/*Empieza Flecha para hacer la pagina hacia arriba*/
#scroll {
    position:fixed;
    display: none;
    z-index: 999;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background: var(--btn-volver-arriba);
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px;
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    /*border-bottom-color:#ffffff;*/
    border-bottom-color: var(--btn-volver-arriba-flecha);
}
#scroll:hover {
    background-color: var(--btn-volver-arribaHover);
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
    transition: all 300ms ease; }
/*Termina Flecha para hacer la pagina hacia arriba*/


/*EMPIEZA CONTENIDO DE LA PAGINA*/

main{
    position: relative;
    height: 100vh;
}


.container{
    margin: 2rem auto;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 550px;
}

.container__title{
    padding: 2.5rem 0;
}

.container__title h2{
    color: #27a240;
    text-align: center;
    font-size: 3rem;
    text-shadow: 3px 2px var(--main__titulo);
}

.container img{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

.container__btns{
    margin: 0 auto .5rem auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    right: 0;
    bottom: .5rem;
    width: 95%; 
}

.container__btns a{
    padding: .1rem;
    text-align: center;
    text-decoration: none;
    color: var(--main__btns-texto);
    background-color: var(--main__btnsBackground);
    border-radius: .2rem;
    border: 1px solid transparent;
}

.container__btns a:hover{
    background-color: var(--main__btnsHoverBackground);
    color: var(--main__btnsHover-texto);
    border: 1px solid var(--main__btnsHoverBorde);
}


/*TERMINA CONTENIDO DE LA PAGINA*/



/*Empieza aside para btn de redes sociales*/

.share{
    display:block;
    width:60px;
    height:60px;
    background: var(--redes-sociales__background);
    position:fixed;
    bottom: 170px;
    right: -20px;
    z-index: 900;
    text-align:center;
    overflow:hidden;
    line-height:65px;
    font-size:1.5em;
    color:#fff;
    box-shadow: 0px 3px 9px rgba(0,0,0,.5);
    border-radius:50px;
    transform:translate(-50%,-50%);
}

.share:hover{
  cursor:pointer;
  background: var(--redes-sociales__backgroundHover);
}

.share i{
    color: var(--redes-sociales__icono-plus);
}

.one, .two, .three{
  position:fixed;
  width:50px;
  height:50px;
  color:#fff;
  border-radius:50px;
  text-align:center;
  line-height: 49px;
  font-size:1.5em;
  bottom: 180px;
  right: -10px;
  z-index: 500;
  transform:translate(-50%,-50%);
  box-shadow: 0px 3px 9px rgba(0,0,0,.2);
  transition:transform .3s ease-in-out;
}

.one:hover, 
.two:hover,
.three:hover{
  cursor:pointer;
}

.one a,
.two a,
.three a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
}

.one i, .two i, .three i{
  display:none;
  color: var(--redes-sociales__iconos-redes);
}


.one{
  background: var(--redes-sociales__primero);
}

.two{
  background: var(--redes-sociales__segundo);
}

.three{
  background: var(--redes-sociales__tercero);
}

/*Termina aside de para redes sociales*/


/*Empieza footer*/

footer{
    margin: 0;
}

footer div{
    padding: 20px 0 5px 0;
    background: var(--footer-background);
    /*border: 1px solid red;*/
}

footer div p{
    margin: auto;
    width: 98%;
    padding: 5px;
    color: var(--footer__texto);
    text-align: center;
}

footer div p a{
    text-decoration: none;
    color: var(--footer__btn-email);
    transition: all 300ms ease;
}

footer div p a:hover{
    color: var(--footer__btn-emailHover);
    transition: all 300ms ease;
    
}

#contenedor-creditos{
    padding: 0 0 10px 0;
    /*border: 1px solid red;*/
}

#contenedor-creditos p{
    color: var(--creditos-texto);
}

#contenedor-creditos a{
    color: var(--creditos-btn);
    transition: all 300ms ease;
}

#contenedor-creditos a:hover{
    color: var(--creditos-btnHover);
    transition: all 300ms ease;
}

/*Termina footer*/

}



@media screen and (min-width: 565px){
   /* body{
        background: blue;
    }*/
}


@media screen and (min-width: 630px){
    /*body{
        background: grey;
    }*/

    #burger-menu span,
    #burger-menu span:before,
    #burger-menu span:after{
        height: 4px;
        transition: all .3s ease;
    }

    #burger-menu span:before{
        top: -10px;
    }

    #burger-menu span:after{
        top: 10px;
    }

    .container{
        width: 400px;
        height: 600px
    }

    .container__btns a{
        padding: .5rem;
    }

}



@media screen and (min-width: 710px){
    /*body{
        background: red;
    }*/

    .container{
        width: 500px;
        height: 700px
    }

}


@media screen and (min-width: 845px){
    /*body{
        background: slateblue;
    }*/

    #contenedor-burger-menu,
    #menu-responsive,
    #logo-responsive{
    display: none;
    }

    #logo-normal-size{
        display: block;
    }


/*Termina el menu responsive*/

/*Empieza menú normal*/
    #menu-normal-size{
        display: block;
    }

    .container{
        width: 700px;
        height: 800px;
    }

    .container__btns{
        bottom: 1rem;
    }

    .container__btns a{
        padding: 1rem;
    }

}

@media screen and (min-width: 1000px){
   /*body{
        background: greenyellow;
    }*/

}


@media screen and (min-width: 1200px){
    /*body{
        background: dimgrey;
    }*/

}


@media screen and (min-width: 1320px){
    /*body{
        background: indianred;
    }*/

}


@media screen and (min-width: 1500px){
    /*body{
        background: seagreen;
    }*/

}




 

